<section class="content-area" id="contentArea">
    
    <h1>歷史紀錄</h1>
    <p>您所有已歷史傳案列表。</p>
    {% if role == 'client' %}
    <table id="contentTable">
        <thead>
            <tr>
                <th>專案名稱</th>
                <th>狀態</th>
                <th>預算</th>
                <th>發布日期</th>
                <th>截止日期</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if not items %}
                <tr>
                    <td colspan="6" style="text-align: center; padding: 20px;">您目前沒有任何專案。</td>
                </tr>
            
            {% else %}
                {% for item in items %}
                    <tr>
                        {% if item.status == 'deleted'%}
                        <td><span style="text-decoration: line-through"> {{ item.title }}</span></td>
                        <td><span style="text-decoration: line-through" class="link-{{item.status}}"> {{ item.status_text }}</span></td>
                        <td><span style="text-decoration: line-through"> {{ item.budget }}</span></td>
                        <td><span style="text-decoration: line-through"> {{ item.create_time.strftime('%Y-%m-%d') }}</span></td>
                        <td><span style="text-decoration: line-through"> {{ item.deadline_date.strftime('%Y-%m-%d') if item.deadline_date else 'N/A' }}</span></td>
                        <td><span style="text-decoration: line-through" onclick='notifyWindow("確定要復原此專案？", "復原", "restore", {{ item.id }}, false);'><img src="./img/restore.svg" alt="" class="menu-icon"></span></td>
                        {% else %}
                            <td><a onclick='loadContent("/page/my-projects/read/{{item.id}}")'> {{ item.title }} </a></td>
                            <td><span class="link-{{item.status}}"> {{ item.status_text }}</span></td>
                            <td> {{ item.budget }}</td>
                            <td> {{ item.create_time.strftime('%Y-%m-%d') }}</td>
                            <td> {{ item.deadline_date.strftime('%Y-%m-%d') if item.deadline_date else 'N/A' }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    {% elif role == 'freelancer' %}
    <table id="contentTable">
        <thead>
            <tr>
                <th>專案名稱</th>
                <th>委託人</th> <th>專案狀態</th> <th>預算</th>
                <th>截止日期</th>
            </tr>
        </thead>
        
        <tbody>
            {% if not items %}
                <tr>
                    <td colspan="5" style="text-align: center; padding: 20px;">您目前沒有任何承接的專案。</td>
                </tr>
            
            {% else %}
                {% for item in items %}
                    <tr>
                        <td><a onclick='loadContent("/page/my-projects/read/{{item.id}}")'> {{ item.title }}</a></td>
                        <td><a> {{ item.client_username }}</a></td>
                        <td><a class="link-{{item.status}}"> {{ item.status_text }}</a></td>
                        <td><a> {{ item.budget }}</a></td>
                        <td><a> {{ item.deadline_date.strftime('%Y-%m-%d') if item.deadline_date else 'N/A' }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {%endif%}
</section>

<div id="loading">
    <div class="jelly-triangle">
        <div class="jelly-triangle__dot"></div>
        <div class="jelly-triangle__traveler"></div>
    </div>

    <svg width="0" height="0" class="jelly-maker">
        <defs>
            <filter id="uib-jelly-triangle-ooze">
                <feGaussianBlur in="SourceGraphic" stdDeviation="7.3" result="blur"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="ooze"></feColorMatrix>
                <feBlend in="SourceGraphic" in2="ooze"></feBlend>
            </filter>
        </defs>
    </svg>
    <div class="loading-text" id="loadingText">請稍後...</div>
</div>